body {
    font-size: 15pt;
    font-family: Roboto;
}
.header{
    background-color: #1F2937;
    margin-bottom: 20px;
}
li{
    display: inline-block;
    list-style: none;
    size: 18px;
    color: #E5E7EB;
}
.logo{
    font-size: 24px;
    color: #F9FAF8;
}
.navbar{
    display: flex;
    justify-content: space-around;
}
.left{
    display:flex;
    gap: 20px;
}
.section{
    display: flex;
    justify-content:space-between;
    gap:80px;
    padding: 100px;
}
.main_text{
    font-size: 48px;
    margin:0;
    color: #F9FAF8;
    font-weight: 900;
}
.text p{
    color:#E5E7EB;
    margin:0;
}
.text button{
    background-color: #3882F6;
    padding:7px 25px;
    margin:10px;
    font-weight:bold;
    color:white;
    border: none;
    border-radius: 7px;
}
.picture{
    background-color: grey;
    color:white;
}
.picture p{
padding:80px;
}
.information{
padding-bottom:100px;
}
.information .main{
    font-size: 36px;
    color:#1F2937;
    font-weight: 900;
    text-align:center;

}
.box-container{
    display:flex;
    padding:0 100px;
    justify-content: space-between;
}
.text-box{
width:150px;
display:flex;
flex-direction:column;
justify-content:center;
}
.information .box{
    border: 3px solid #3882F6;
    border-radius:20px;
    width:150px;
    height:150px;
    padding: 10px;
}
.quote{
    display:flex;
    flex-direction:column;
    align-items:flex-end;
}
.quote{
    background:#E5E7EB;
    padding:80px;
}
.quote p{
    font-size:30px;
}
.quote .writer{
    font-weight:bold;
    
    
}
.sign-container{
    padding:70px;

}
.sign-container .sign-box{
    background-color: #3882F6;
    padding:10px 70px;
    border-radius:7px;
    display:flex;
    justify-content:space-around;
}
.sign-box .sign-text{
    color:white;
    
}
.sign-text h4{
margin-bottom:0;
}
.sign-text p{
 margin-top:0;
 font-size:15px;
}
.sign-box button{
    border:1px solid white;
    color:white;
    background:#3882F6;
    border-radius:7px;
    padding: 0 30px;
    margin: 30px 0;
}
.footer{
    color:white;
    background:#1F2937;

}
.footer p{
    text-align:center;
    padding:20px 0px;
}